.WellnessTestForm {

}

.WellnessTestForm-marginTopBottom {
  margin: 32px 0;
}

.WellnessTestForm-content {
  padding: 0 32px;
}

.WellnessTestForm-formHeader {
  font-weight: bold;
}

.WellnessTestForm-buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}